Localization
{
    pt-br
    {
        //---Converter---
        #LOC_KERBETROTTER.agency.name = Kerbetrotter Equipamento Espacial Ltda.
        #LOC_KERBETROTTER.agency.desc = A companhia número um quando Kerbais querem ter aventuras extremas. Os veículos da Kerbetrotter Equipamento Espacial Ltda. têm uma boa reputação e são equivalentes ao Kerb'teryx para Veículos de expedição. Os preços são, de acordo, altos. Recentemente esta companhia descobriu outros planetas como um destino em potencial para off-road extremo, ou melhor, aventuras de outro mundo. Kerbetrotter Equipamento Espacial Ltda. está particularmente interessada em novos objetivos ainda mais extremos. Eles querem quebrar recordes!

        //---Converter---
        #LOC_KERBETROTTER.converter.speed = Velocidade de Conversão
		#LOC_KERBETROTTER.converter.nextRes = Próxima configuração:
        #LOC_KERBETROTTER.converter.prevRes = Configuração anterior:
        #LOC_KERBETROTTER.converter.current = Configuração Atual
		
		//---Messages---
		#LOC_KERBETROTTER.error.switch.eva = Esta ação só pode ser feita por um Kerbal
		#LOC_KERBETROTTER.error.switch.engineer = Esta ação só pode ser realizada por um engenheiro
		#LOC_KERBETROTTER.error.switch.pilot =  Esta ação só pode ser realizada por um piloto
		#LOC_KERBETROTTER.error.switch.scientist = Esta ação só pode ser realizada por um cientista
		#LOC_KERBETROTTER.error.switch.running = Não é possível alterar a configuração enquanto o conversor está em execução

		#LOC_KERBETROTTER.error.switch.engineer_level = Esta ação só pode ser realizada por um engenheiro de nível <<1>>
		#LOC_KERBETROTTER.error.switch.pilot_level = Esta ação só pode ser realizada pelo piloto de nível <<1>>
		#LOC_KERBETROTTER.error.switch.scientist_level = Esta ação só pode ser realizada por cientista de nível <<1>>

        //---Mesh toggle--
        #LOC_KERBETROTTER.meshtoggle.show = Mostrar Malhar
        #LOC_KERBETROTTER.meshtoggle.hide = Esconder Malha
        #LOC_KERBETROTTER.meshtoggle.toggle = Alternar Malha

        //---Switchable model---
        #LOC_KERBETROTTER.meshswitch.model = Modelo

        //---The extendable dockingport---
        #LOC_KERBETROTTER.dockingport.extend = Ampliar
        #LOC_KERBETROTTER.dockingport.retract = Retrair

        //---Hitch---
        #LOC_KERBETROTTER.hitch.name = Engate Kerbetrotter
        #LOC_KERBETROTTER.hitch.spring = Mola
        #LOC_KERBETROTTER.hitch.damping = Amortecimento
        #LOC_KERBETROTTER.hitch.status = Estado
        #LOC_KERBETROTTER.hitch.status.noparent = Sem pai
        #LOC_KERBETROTTER.hitch.status.inoperable = Inoperante
        #LOC_KERBETROTTER.hitch.status.locked = Travado
        #LOC_KERBETROTTER.hitch.status.released = Solto
        #LOC_KERBETROTTER.hitch.status.lock = Travar
        #LOC_KERBETROTTER.hitch.status.unlock = Soltar
        #LOC_KERBETROTTER.hitch.toggle = Alternar trava
        #LOC_KERBETROTTER.hitch.unlock = Destravar engate
        #LOC_KERBETROTTER.hitch.lock = Travar engate
        
        //---ModuleKerbetrotterNuclearStorage---
        #LOC_KERBETROTTER.nuclearfuel.transferstate = Estado da transferência
        #LOC_KERBETROTTER.nuclearfuel.fuel.transfer = Transferir <<1>>
        #LOC_KERBETROTTER.nuclearfuel.error.skill = É preciso ter pelo menos um <<2>> nível <<1>> a bordo para transferir <<3>>.
        #LOC_KERBETROTTER.nuclearfuel.error.running = Não é possível transferir materiais nucleares quando as máquinas estão trabalhando.
        #LOC_KERBETROTTER.nuclearfuel.error.noFuel = Não há nenhum <<1>>.
        #LOC_KERBETROTTER.nuclearfuel.error.noTarget = Não há destino para onde transferir <<1>>.
        #LOC_KERBETROTTER.nuclearfuel.status.selecting = Selecione um destino para <<1>>
        #LOC_KERBETROTTER.nuclearfuel.target.next = Selecionar próximo destino
        #LOC_KERBETROTTER.nuclearfuel.target.prev = Selecionar destino anterior
        #LOC_KERBETROTTER.nuclearfuel.startTransfer = Começar transferência
        #LOC_KERBETROTTER.nuclearfuel.stopTransfer = Parar transferência
        #LOC_KERBETROTTER.nuclearfuel.cancelTransfer = Cancelar transferência
        #LOC_KERBETROTTER.nuclearfuel.status.transfering = Transferindo <<1>>
        
        //---Switchable Light---
        #LOC_KERBETROTTER.light.type = Tipo
		
		//---Switching---
        #LOC_KERBETROTTER.switch.current = Current Setup //TODO
        #LOC_KERBETROTTER.switch.configure = Configure //TODO
        #LOC_KERBETROTTER.switch.change = Change: //TODO
        
        #LOC_KERBETROTTER.resourceswitch.name = Trocar Recursos
        #LOC_KERBETROTTER.resourceswitch.dump = Alijar Recursos
        #LOC_KERBETROTTER.resourceswitch.stop = Parar alijamento de recursos
        #LOC_KERBETROTTER.resourceswitch.active = Emptying resources.. //TODO
        #LOC_KERBETROTTER.resourceswitch.switchable = Recursos selecionáveis:
        #LOC_KERBETROTTER.resourceswitch.configure = Configure Resources //TODO
        #LOC_KERBETROTTER.resourceswitch.change_cost = Cost change: <<1>> //TODO
        #LOC_KERBETROTTER.resourceswitch.change_mass = Mass change: <<1>> //TODO
        #LOC_KERBETROTTER.resourceswitch.error_not_empty = Tank needs to be emptied for switching //TODO
        
        #LOC_KERBETROTTER.harvesterswitch.name = Harvester Switch //TODO
        #LOC_KERBETROTTER.harvesterswitch.configure = Configure Harvester //TODO
        #LOC_KERBETROTTER.harvesterswitch.error_deployed = Harvester needs to be retracted for switching //TODO
        
        #LOC_KERBETROTTER.converterswitch.error_running = Converters will be stopped for switching //TODO
        #LOC_KERBETROTTER.converterswitch.configure = Configure Converter //TODO
        
        #LOC_KERBETROTTER.action.change = Change <<1>> //TODO

        //---Hover Engine---
        #LOC_KERBETROTTER.engine.name = Motor Hover
        #LOC_KERBETROTTER.engine.desc = Permite deslizar sobre o terreno ou manter uma altitude
        #LOC_KERBETROTTER.engine.mode = <b><color=#88cceeff>Modo: <i><<1>></i></color></b>
        #LOC_KERBETROTTER.engine.hoverfail = Não é possível pairar mais alto que <<1>> metros acima da superfície.
        #LOC_KERBETROTTER.engine.hoverfail_2 = Não é possível mudar para o modo "Mantenha a Distância do Terreno" quando superior a <<1>> metros sobre a superfície.
        #LOC_KERBETROTTER.engine.hoverwarning = Atenção! O modo de deslocamento só está ativo quando os motores estão desdobrados!
        #LOC_KERBETROTTER.engine.state.noAtmosphere = Sem atmosfera
        #LOC_KERBETROTTER.engine.state.notInWater = Não submerso
        #LOC_KERBETROTTER.engine.state.noOxygen = Sem oxigênio
        #LOC_KERBETROTTER.engine.state.onHold = Em espera
        #LOC_KERBETROTTER.engine.offset = Ajuste de altura
        #LOC_KERBETROTTER.engine.hovering = Pairando
        #LOC_KERBETROTTER.engine.togglehover = Alternar voo pairado
        #LOC_KERBETROTTER.engine.mode.change = Trocar modo
        #LOC_KERBETROTTER.engine.flightMode = Modo
        #LOC_KERBETROTTER.engine.mode.free = Livre
        #LOC_KERBETROTTER.engine.mode.hover = Voo pairado
        #LOC_KERBETROTTER.engine.mode.switch_free = Desligar voo pairado
        #LOC_KERBETROTTER.engine.mode.switch_hover = Acionar voo pairado
        #LOC_KERBETROTTER.engine.mode.title = Modo Hover
        #LOC_KERBETROTTER.engine.mode.terrain = Superfície
        #LOC_KERBETROTTER.engine.mode.altitude = Altitude
        #LOC_KERBETROTTER.engine.mode.switch = Alternar modo hover
        #LOC_KERBETROTTER.engine.hoverheight = Altura do voo pairado
        #LOC_KERBETROTTER.engine.advanced.show = Mostrar ajustes avançados do motor
        #LOC_KERBETROTTER.engine.advanced.hide = Ocultar ajustes avançados do motor
        #LOC_KERBETROTTER.engine.p = P da altura
        #LOC_KERBETROTTER.engine.i = I da altura
        #LOC_KERBETROTTER.engine.d = D da altura
        #LOC_KERBETROTTER.engine.profile = Perfil do PID
        #LOC_KERBETROTTER.engine.profile.default = Padrão
        #LOC_KERBETROTTER.engine.profile.custom = Personalizado
        #LOC_KERBETROTTER.engine.profile.reset = Zerar perfil
        #LOC_KERBETROTTER.info.atmosphere = Precisa de atmosfera
        #LOC_KERBETROTTER.info.water = Precisa estar submerso
        #LOC_KERBETROTTER.info.oxygen = Precisa de oxigênio
        #LOC_KERBETROTTER.engine.mode.electric = Elétrico
        #LOC_KERBETROTTER.engine.mode.fuel = Combustível
        #LOC_KERBETROTTER.engine.resource.liquid = Líquido
        #LOC_KERBETROTTER.engine.resource.oxygen = Oxigênio

        //---Engine Control---
        #LOC_KERBETROTTER.engine.control.accelerate = Acelerar
        #LOC_KERBETROTTER.engine.control.accelerate.direction = Acelerar: Direação
        #LOC_KERBETROTTER.engine.control.cancelrotation = Anular rotação
        #LOC_KERBETROTTER.engine.control.canceldrift = Anular movimento lateral
        #LOC_KERBETROTTER.engine.control.ground = Apontar para o chão
        #LOC_KERBETROTTER.control.rotation.p = P da rotação
        #LOC_KERBETROTTER.control.rotation.i = I da rotação
        #LOC_KERBETROTTER.control.rotation.d = D da rotação
        #LOC_KERBETROTTER.control.speed.p = P da velocidade
        #LOC_KERBETROTTER.control.speed.i = I da velocidade
        #LOC_KERBETROTTER.control.speed.d = D da velocidade
        #LOC_KERBETROTTER.control.advanced.show = Mostrar ajustes avançados do motor
        #LOC_KERBETROTTER.control.advanced.hide = Ocultar ajustes avançados do motor
        #LOC_KERBETROTTER.control.brake = Alternar freio

        //---Engine Animation---
        #LOC_KERBETROTTER.engine.anim.fold = Dobrar rotor
        #LOC_KERBETROTTER.engine.anim.unfold = Desdobrar rotor
        #LOC_KERBETROTTER.engine.anim.toggle = Alternar dobra do rotor
    }
}